<body style="background-color:grey;">
<h1 style="font-family:arial;color:white;">Blog Application</h1>
<%= link_to "My Blog", controller: "posts" %>
<p>Changes on local repository</p>
<p>Changes at GitHub repository</p>
</body>
